<div class="page-header">
  <h1>User info <small></small></h1>
</div>

<p id="notice"><%= notice %></p>

<p class="lead">
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p class="lead">
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<div class="btn-groups">
	<%= link_to 'Edit', edit_user_path(@user), :class => "btn btn-large" %> 
	<%= link_to 'Back', users_path, :class => "btn btn-large" %>
</div>
